$color1: #f0f4f5;
$color2: #ffffff;
$color3: #5fefec;
$color4: #0f80f8;

$font1: rgba(#28394b, 0.8);
$font2: rgba(#28394b, 0.6);
$font3: #0f80f8;
$font4: #28394b;

@function vw($size) {
  @return calc($size/750) * 100vw;
}

@function vw2($size) {
  @return calc($size/1220) * 100vw;
}

@function vw3($size) {
  @return calc($size/879) * 100vw;
}

@mixin icon($w, $h, $url) {
  display: inline-block;
  width: $w;
  height: $h;
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
}

@mixin bg($url) {
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
}

@mixin btn-img($width, $height, $url) {
  width: $width;
  height: $height;
  cursor: pointer;
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
  @include center;
  color: #ffffff;
}

@mixin ellipsis($lineCount: 1) {
  @if $lineCount == 1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lineCount;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scroll() {
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
