body {
  color: $font1;
  font-size: 14px;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
.pc-hidden {
  display: none;
}
.title-h2 {
  font-family: "sesb";
  font-size: 24px;
  color: $font1;
  margin-top: 36px;
  margin-bottom: 28px;
}
