/* 移除所有链接的点击高亮效果 */
a,
a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* 移除所有按钮和链接的默认点击阴影 */
button,
a {
  -webkit-appearance: none;
  box-shadow: none;
}

body {
  color: $font1;
  font-size: 14px;
  background: #ffffff;
}
.page {
  position: relative;
  box-sizing: content-box;
  background: #ffffff;
}
.pc-hidden {
  display: none;
}
.title-h2 {
  font-family: seb;
  font-size: 20px;
  color: $font1;
  line-height: 24px;
  margin-top: 36px;
  margin-bottom: 28px;
  width: 100%;
  border-radius: 16px;
  height: 36px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.2s;

  &:hover {
    span {
      color: $color3;
    }

    .icon-arrow {
      @include icon(24px, 24px, "icon-title-arrow1.png");
    }
  }
}

.title-see-more {
  display: flex;
  align-items: center;

  span {
    font-family: seb;
    font-size: 14px;
    color: rgba(65, 65, 76, 0.6);
    line-height: 18px;
  }
}

.icon-rating {
  @include icon(16px, 16px, "icon-rating.png");
  margin-right: 2px;
}
.icon-rating4 {
  @include icon(16px, 16px, "icon-rating4.png");
  margin-right: 2px;
}
.box-small-bg {
  background: #f5f6f8;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
  gap: 24px;
  padding: 24px;
  margin-bottom: 32px;
}
.box-common {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(129px, 1fr));
  gap: 24px;
}
.box-list-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(141px, 1fr));
  gap: 16px;
}
.box-common1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(108px, 1fr));
  gap: 24px;
}
.box-aside {
  position: absolute;
  width: 390px;
  top: 55px;
  right: 0;
  .item {
    margin-bottom: 16px;
  }
}
.icon-favorite-app {
  @include icon(32px, 32px, "icon-favorite-app.png");
  margin-right: 8px;
}
.icon-favorite-game {
  @include icon(32px, 32px, "icon-favorite-game.png");
  margin-right: 8px;
}
.icon-fresh {
  @include icon(32px, 32px, "icon-fresh.png");
  margin-right: 8px;
}
.icon-recommend {
  @include icon(32px, 32px, "icon-recommend.png");
  margin-right: 8px;
}
.icon-relate {
  @include icon(32px, 32px, "icon-relate.png");
  margin-right: 8px;
}
.icon-arrow {
  @include icon(24px, 24px, "icon-title-arrow.png");
}

@media screen and (max-width: 1240px) {
  .main {
    padding: 0 20px;
  }
  .header-main {
    padding: 0 20px;
  }
  .footer {
    padding: 0 20px;
  }
  .box-aside {
    display: none;
  }
  .box-small-bg {
    grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
  }
}

@media screen and (max-width: 879px) {
  .pc-hidden {
    display: block;
  }
  .page {
    padding: vw(96) 0 0;
    background: #ffffff;
  }
  .main {
    padding: 0;
  }
  .footer {
    padding: 0;
  }
  .title-h2 {
    font-size: vw(36);
    margin-top: vw(54);
    margin-bottom: vw(38);
    padding: 0 vw(16);
    margin: vw(54) 0 vw(38) 0;
    padding: 0 vw(46);
    border-radius: vw(32);
    height: vw(72);

    span {
      color: $color2;
      font-size: vw(28);
      line-height: vw(36);
    }
    .icon-arrow {
      @include icon(vw(48), vw(48), "icon-title-arrow1.png");
    }

    &:hover {
      color: $font1;

      span {
        color: $color2;
      }

      .icon-arrow {
        @include icon(vw(48), vw(48), "icon-title-arrow1.png");
      }
    }
  }

  .icon-rating,
  .icon-rating4 {
    width: vw(24);
    height: vw(24);
    margin-right: vw(4);
  }
  .icon-favorite-app,
  .icon-favorite-game,
  .icon-fresh,
  .icon-recommend,
  .icon-relate {
    width: vw(64);
    height: vw(64);
    margin-right: vw(8);
  }
  .icon-get {
    @include icon(vw(44), vw(32), "icon-get.png");
    margin-top: vw(2);
  }
  .icon-play {
    @include icon(vw(60), vw(32), "icon-play.png");
  }
  .icon-arrow {
    width: vw(48);
    height: vw(48);
  }
  .box-small-bg {
    padding: vw(32);
    grid-template-columns: repeat(3, vw(176));
    gap: vw(32);
    margin: 0 vw(46);
  }
  .box-list-section {
    margin: 0 vw(46);
    display: grid;
    grid-template-columns: repeat(3, vw(200));
    gap: vw(28);
  }
  .box-common {
    grid-template-columns: repeat(3, vw(200));
    gap: vw(32) vw(30);
    margin: 0 vw(46);
  }
  .box-common1 {
    grid-template-columns: repeat(3, vw(198));
    gap: vw(32) vw(30);
    margin: 0 vw(46);
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(253, 107, 33, 0.2);
  border-radius: 50%;
  opacity: 1;
  box-sizing: content-box;
  margin: 0 6px;
}
.swiper-pagination-bullet-active {
  border: 2px solid $color2;
  background: #ffffff;
}
