.main {
  width: 770px;
}
.application-info {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  .info {
    flex-grow: 1;
  }
  .icon {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 16px;
  }
  .name {
    font-family: "sesb";
    font-size: 20px;
    color: $font1;
  }
  .category {
    color: rgba($font1, 0.6);
    margin-top: 7px;
    margin-bottom: 9px;
  }
  .rating {
    color: rgba($font1, 0.6);
    display: flex;
  }
  .rating-star {
    width: 60px;
    height: 12px;
    @include bg("icon-rating2.png");
    background-size: 12px 12px;
    p {
      height: 12px;
      @include bg("icon-rating.png");
      background-size: 12px 12px;
    }
  }
  .get-it-now {
    width: 120px;
    height: 40px;
    background: $color1;
    border-radius: 8px;
    color: #ffffff;
    @include center;
    cursor: pointer;
  }
  .icon-get-it-now {
    @include icon(24px, 24px, "icon-get-it-now.png");
    margin-right: 8px;
  }
}
.table-info {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #d9d9db;
  font-family: "sesb";
  color: $font1;
}
$categories: category, os, size, version, updated;
@each $category in $categories {
  .icon-#{$category} {
    @include icon(20px, 20px, "icon-#{$category}.png");
    margin-right: 8px;
  }
}
.icon-android {
  @include icon(16px, 16px, "icon-android.png");
  margin-right: 8px;
}
.icon-ios {
  @include icon(16px, 16px, "icon-ios.png");
}
.link-category {
  color: $color1;
  text-decoration-line: underline;
}
.table-row {
  display: flex;
  border-bottom: 1px solid #d9d9db;
}
.table-cell {
  display: flex;
  align-items: center;
  width: 184px;
  height: 32px;
  border-right: 1px solid #d9d9db;
  padding-left: 18px;
}
.table-cell:last-child {
  width: auto;
  padding-left: 32px;
  border-right: none;
}
.table-row:last-child {
  border-bottom: none;
}
.application-desc {
  background: #f5f5f5;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 32px;
  .img {
    border-radius: 16px;
  }
}
.swiper-box {
  height: 352px;
}
.swiper-wrapper {
  height: 288px;
}
.swiper-slide {
  width: auto;
  height: 288px;
  margin-right: 16px;
}
.swiper-pagination {
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  position: unset;
}
.swiper-tool {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.swiper-button-prev,
.swiper-button-next {
  position: unset;
  width: 32px;
  height: 32px;
  background: $color1;
  border-radius: 0px 0px 0px 0px;
  border-radius: 50%;
  margin: 0;
  &::after {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
}
.get-the-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  .download {
    @include center;
    width: 121px;
    height: 40px;
    background: $color1;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 16px;
  }
  .icon-download {
    @include icon(24px, 24px, "icon-download.png");
    margin-right: 8px;
  }
  .tip {
    color: rgba($font1, 0.6);
  }
}
@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .application-info {
    padding: vw(48) 0 0 vw(46);
    margin-bottom: vw(48);
    position: relative;
    .icon {
      width: vw(120);
      height: vw(120);
      border-radius: vw(12);
      margin-right: vw(16);
    }
    .name {
      width: vw(522);
      font-size: vw(28);
      line-height: vw(36);
      @include ellipsis;
    }
    .category {
      width: vw(320);
      color: rgba($font1, 0.6);
      font-size: vw(24);
      line-height: vw(36);
      margin-top: vw(18);
      margin-bottom: vw(6);
      @include ellipsis;
    }
    .rating {
      font-size: vw(24);
    }
    .rating-star {
      width: vw(120);
      height: vw(24);
      background-size: vw(24) vw(24);
      p {
        height: vw(24);
        background-size: vw(24) vw(24);
      }
    }
    .get-it-now {
      position: absolute;
      right: vw(46);
      bottom: 0;
      width: vw(190);
      height: vw(64);
      border-radius: vw(16);
      font-size: vw(24);
    }
    .icon-get-it-now {
      @include icon(vw(40), vw(40), "icon-get-it-now.png");
      margin-right: vw(8);
    }
  }
  .table-info {
    margin: vw(48) 0 vw(24);
    border: none;
    font-size: vw(24);
  }

  $categories: category, os, size, version, updated;
  @each $category in $categories {
    .icon-#{$category} {
      width: vw(40);
      height: vw(40);
      margin-right: vw(16);
    }
  }

  .icon-android {
    width: vw(32);
    height: vw(32);
    margin-right: vw(16);
  }
  .icon-ios {
    width: vw(32);
    height: vw(32);
  }
  .link-category {
    font-size: vw(24);
  }
  .table-row {
    border-bottom: none;
    margin-bottom: vw(24);
  }
  .table-cell {
    width: vw(298);
    height: vw(40);
    border-right: none;
    padding-left: vw(46);
  }
  .table-cell:last-child {
    width: vw(390);
    @include ellipsis;
    padding-left: 0;
  }
  .application-desc {
    background: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: vw(48);
    .img {
      border-radius: vw(16);
    }
  }
  .expand {
    margin: 0 vw(46);
  }
  .swiper-tool {
    display: none;
  }
  .swiper-box {
    height: vw(320);
    margin-bottom: vw(48);
  }
  .swiper-wrapper {
    height: vw(320);
  }
  .swiper-slide {
    width: auto;
    height: vw(320);
    margin: 0 0 0 vw(16);
    img {
      height: 100%;
    }
  }

  .get-the-game {
    margin-top: vw(48);
    .download {
      width: vw(210);
      height: vw(64);
      border-radius: vw(16);
      margin-bottom: vw(16);
      font-size: vw(24);
    }
    .icon-download {
      width: vw(40);
      height: vw(40);
      margin-right: vw(8);
    }
    .tip {
      font-size: vw(24);
      line-height: vw(28);
      padding: 0 vw(46);
      text-align: center;
    }
  }
  .box-small-bg {
    .item:nth-child(n + 10) {
      display: none;
    }
  }
}
